* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgba(0,0,0, 0.8);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stopwatch {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px 40px;
  border-radius: 10px;
}

.timerDisplay {
  font-size: 50px;
  font-weight: 600;
}

.button {
  margin-top: 20px;
}

.btn {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  background-color: var(--clr);
  padding: 12px 25px;
  margin-inline: 12px;
  border-radius: 8px;
  cursor: pointer;
}

#stopbtn:hover {
  background-color: rgb(234, 75, 75);
}

#startbtn:hover {
  background-color: rgb(60, 225, 60);
}

#resetbtn:hover {
  background-color: rgb(77, 77, 187);
}